@media screen and (min-width: 320px) and (max-width: 1199px) {
  .cards {
    background-color: #f5f9ff;
  }

  .cards-about-info {
    position: relative;
  }

  .cards-about-info:before {
    content: "";
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    outline: 1px solid #000099;
    width: 140px;
  }

  .cards-list {
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
  }

  .cards-icon {
    margin-bottom: 10px;
  }

  .cards-item {
    background-color: #ffffff;
    border: 1px solid rgba(51, 51, 153, 0.1);
    box-sizing: border-box;
    border-radius: 15px;
    width: 275px;
    padding: 20px;
    margin-top: 20px;
  }

  .card-list-description {
    width: 233px;
  }
}

@media screen and (min-width: 1200px) {
  .cards {
    background-color: #f5f9ff;
  }

  .cards-about-info {
    position: relative;
  }

  .cards-about-info:before {
    content: "";
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-top: 32px;
    outline: 1px solid #000099;
    width: 240px;
  }

  .cards-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 120px;
  }

  .cards-icon {
    margin-bottom: 20px;
  }

  .cards-item {
    background-color: #ffffff;
    border: 1px solid rgba(51, 51, 153, 0.1);
    box-sizing: border-box;
    border-radius: 15px;
    width: 350px;
    padding: 40px;
  }
}
