.hero-img {
  position: absolute;
  top: 92px;
  left: 0;
  z-index: -1;
}

.hero-container {
  padding-top: 72px;
  padding-bottom: 252px;
}

.hero-title {
  font-weight: bold;
  font-size: 52px;
  line-height: 60px;
  color: #000099;
}

.hero-description {
  margin-bottom: 36px;
}
