@media screen and (min-width: 320px) and (max-width: 1199px) {
  .package-title {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #000099;

    margin-top: 160px;
    margin-bottom: 28px;
  }

  .package-description {
    margin-left: auto;
    margin-right: auto;
    width: 231px;
  }

  .package-about-info {
    position: relative;
  }

  .package-about-info:before {
    content: "";
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    outline: 1px solid #000099;
    width: 155px;
  }

  .package-container {
    margin-left: auto;
    margin-right: auto;
    width: 279px;
  }

  .package-list {
    justify-content: space-between;
    align-items: center;
  }

  .package-item {
    border: 1px solid rgba(51, 51, 153, 0.2);
    box-sizing: border-box;
    border-radius: 23px;
    padding: 20px;

    color: #000099;
    width: 275px;
    margin-top: 20px;
  }

  .price {
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    margin-top: 10px;
    font-size: 16px;
  }

  .price::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-top: 20px;
    outline: 1px solid #00cc99;
    width: 240px;
  }

  .price-money {
    font-size: 28px;
  }

  .package-level {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  .level-list {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .level-item {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .level-item:last-child {
    margin-bottom: 0;
  }

  .package-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .package-message {
    font-size: 12px;
    color: #333399;
    margin-top: 20px;
  }

  .grey {
    color: rgba(51, 51, 153, 0.2);
  }
}

@media screen and (min-width: 1200px) {
  .package-title {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #000099;

    margin-top: 160px;
    margin-bottom: 28px;
  }

  .package-about-info {
    position: relative;
  }

  .package-about-info:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-top: 32px;
    outline: 1px solid #000099;
    width: 240px;
  }

  .package-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    width: 940px;
  }

  .package-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .package-item {
    border: 1px solid rgba(51, 51, 153, 0.2);
    box-sizing: border-box;
    border-radius: 23px;
    padding: 60px;

    color: #000099;
  }

  .price {
    text-align: center;
    position: relative;
    padding-bottom: 32px;
    margin-top: 32px;
    font-size: 24px;
  }

  .price-money {
    font-size: 67px;
    line-height: 60px;
  }

  .price::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-top: 32px;
    outline: 1px solid #00cc99;
    width: 240px;
  }

  .package-level {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
  }

  .level-list {
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .level-item {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .level-item:last-child {
    margin-bottom: 0;
  }

  .package-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .package-message {
    font-size: 18px;
    line-height: 27px;
    color: #333399;
    margin-top: 32px;
  }
}
